.ipynb_checkpoints

wandb/*
!wandb/README.md

runs/*
!runs/README.md

trafic_data/*
!trafic_data/README.md

*.pt

asset_penerapan/result/*
!asset_penerapan/result/README.md
asset_penerapan/source/*
!asset_penerapan/source/README.md